# Variaveis do OpenTelemetry Collector + Grafana 

# Endpoint | igual em dev e prod
GRAFANA_CLOUD_OTLP_ENDPOINT=https://otlp-gateway-prod-sa-east-1.grafana.net/otlp

# Header Authorizationc | igual em dev e prod
GRAFANA_CLOUD_OTLP_AUTH=

# Ambiente do Collector | dev / prod
DEPLOYMENT_ENVIRONMENT=dev

# % de traces normais | dev=100 / prod=10
TAIL_SAMPLING_BASELINE_PCT=100
